html {
  font-size: 14px;
  background-color: white;
  color: #121212;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: white;
  color: #121212;
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #bb86fc;
}

a:hover {
  color: #3700b3;  
}

.btn {
  background-color: #bb86fc; 
  color: #121212;  
  font-family: 'Poppins', sans-serif;
  padding: 8px 100px;
  width: auto;
  border: 1px;
  border-color: black;
}

.btn:hover {
  background-color: #3700b3; 
  color: white;  
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgba(18, 18, 18, 0.5), 0 0 0 0.25rem rgba(55, 0, 179, 0.5), 0 0 0 0.35rem rgba(186, 255, 201, 0.5); /* Match the focus box-shadow with dark purple */
}


.navbar {
  background-color: #1f1f1f;
}

.nav-link {
  color: #e0e0e0; 
  font-family: 'Poppins', sans-serif;
  text-decoration: none; 
  display: inline-block; 
  padding: 8px 16px; 
  border: none; 
  background-color: transparent; 
}

.nav-link:hover {
  color: black;
}

.footer {
  background-color: #1f1f1f;
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #f5ff00;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f5ff00, #baffc9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f5ff00, #baffc9);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.form-control {
  background-color: white;
  color: #121212;
  border: 1px solid #444444;
  font-family: 'Poppins', sans-serif;
  border-image: linear-gradient(to right, #f5ff00, #baffc9) 1;
}

.form-control::placeholder {
  color: #888888;
}

.form-control:focus {
  background-color: white; 
  color: #121212;
  border-color: transparent; 
  box-shadow: 0 0 0 0.2rem rgba(245, 255, 0, 0.5), 0 0 0 0.3rem rgba(186, 255, 201, 0.5);
}

.form-check-input {
  background-color: #333333;
  border-color: #444444;
}

.form-check-input:checked {
  background-color: white;
  border-color: #bb86fc;
}

.card {
  background-color: white; 
  color: #121212;
  font-family: 'Poppins', sans-serif;
}

.text-black {
  color: #121212 !important;
}

.text-white {
  color: #121212 !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

.grey-nav {
    background-color: #F0F0F0;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

/* Navbar Links */
.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black; 
    transition: width 0.4s ease, left 0.4s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-nav .nav-link:hover {
    color: #ffeb3b; 
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

#pnglogo 
{
    width: auto;
    height: 30px;
}



